<?xml version="1.0" encoding="utf-8" standalone="no"?><config>
    <keys>
        <up>Up</up>
        <down>Down</down>
        <left>Left</left>
        <right>Right</right>
        <fire>Numpad 0</fire>
        <pause>Esc</pause>
    </keys>
    <speed>
        <demons>2.0</demons>
        <pistol>7.380952380952381</pistol>
    </speed>
</config>