.menuLabel{
    -fx-font-family:Franklin Gothic;
    -fx-font-weight:bold;
    -fx-font-size:64px;
}
.partieLabels{
    -fx-font-family:Franklin Gothic;
    -fx-font-weight:bold;
    -fx-font-size:26px;
    -fx-text-fill:white;
}